<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name="description" content="{{htmlWebpackPlugin.options.description}"><meta name="viewport" content="width=device-width, initial-scale=1"><script defer src="bundle.855d6938774c8440b04c.js"></script><link href="styles.25867e3defd954cc4402.css" rel="stylesheet"></head>
  <body>
  </body>
</html>